<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Delete A User</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<nav class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/create">Create Users</a></li>
    </ul>
</nav>
<div class="form-add-new">
    <form action="/delete-user" method="POST">

        <fieldset>
            <legend>Update users</legend>
            <input type="hidden" name="id" value="<%= user.id %>"/>
            <div class="input-group">
                <label>Are you sure to delete this user with Email: </label>
                <input type="text" id="emailId" name="email" value="<%= user.email %>"/>
            </div>

            <div class="button">
                <button> Confirm </button>
            </div>
        </fieldset>
    </form>
</div>

</body>
</html>